In [1]:
%matplotlib inline
%load_ext autoreload
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import pandas as pd
import pathlib
import time
from datetime import datetime
import scipy.optimize as opt
np.set_printoptions(precision=3)
np.set_printoptions(suppress=True)
plt.style.use("ggplot")
mpl.pyplot.rcParams['figure.figsize'] = (5.0, 4.0)
plt.rcParams["font.size"] = 13
#mpl.rcParams["font.family"] = 'Osaka'

# import sys
# sys.path.append('../code/')

# from simulation_fixed_path import *
# from hash import *
# from plot_path import *

In [15]:
path = '../data/BTCdata_2.csv'
df_BTC = pd.read_csv(path, header=0)
df_BTC = df_BTC.rename(columns={'unixtime_precise': 'unixtime'})
df_BTC = df_BTC.loc[: ,['height', 'unixtime', 'Open', 'High', 'Low', 'Close', 'probability of success /Eh', 'expected return (USD/Eh)']]
df_BTC['time'] = pd.to_datetime(df_BTC['unixtime'].astype(int), unit='s')
df_BTC = df_BTC.sort_values(by='height', ascending=True)
df_BTC.head()

,height,unixtime,Open,High,Low,Close,probability of success /Eh,expected return (USD/Eh),time
0,450001,1485382343,896.66,896.66,895.43,895.44,0.000593,6.935004,2017-01-25 22:12:23
1,450002,1485383957,895.44,895.86,893.23,894.97,0.000593,7.424957,2017-01-25 22:39:17
2,450003,1485384299,895.44,895.86,893.23,894.97,0.000593,7.184180,2017-01-25 22:44:59
3,450004,1485384419,895.44,895.86,893.23,894.97,0.000593,7.025926,2017-01-25 22:46:59
4,450005,1485384847,895.44,895.86,893.23,894.97,0.000593,7.086069,2017-01-25 22:54:07

In [16]:
df_BTC.tail()

,height,unixtime,Open,High,Low,Close,probability of success /Eh,expected return (USD/Eh),time
119994,569995,1554279134,4962.68,4970.61,4925.26,4957.82,0.000036,2.470895,2019-04-03 08:12:14
119995,569996,1554281864,4957.82,4975.00,4929.67,4975.00,0.000036,2.514109,2019-04-03 08:57:44
119996,569997,1554282012,4957.82,4975.00,4929.67,4975.00,0.000036,2.482955,2019-04-03 09:00:12
119997,569998,1554282152,4957.82,4975.00,4929.67,4975.00,0.000036,2.451106,2019-04-03 09:02:32
119998,569999,1554282778,4957.82,4975.00,4929.67,4975.00,0.000036,2.453798,2019-04-03 09:12:58

In [17]:
df_BTC[0:30]

,height,unixtime,Open,High,Low,Close,probability of success /Eh,expected return (USD/Eh),time
0,450001,1485382343,896.66,896.66,895.43,895.44,0.000593,6.935004,2017-01-25 22:12:23
1,450002,1485383957,895.44,895.86,893.23,894.97,0.000593,7.424957,2017-01-25 22:39:17
2,450003,1485384299,895.44,895.86,893.23,894.97,0.000593,7.184180,2017-01-25 22:44:59
3,450004,1485384419,895.44,895.86,893.23,894.97,0.000593,7.025926,2017-01-25 22:46:59
4,450005,1485384847,895.44,895.86,893.23,894.97,0.000593,7.086069,2017-01-25 22:54:07
5,450006,1485384878,895.44,895.86,893.23,894.97,0.000593,6.871475,2017-01-25 22:54:38
6,450007,1485385013,895.44,895.86,893.23,894.97,0.000593,6.930437,2017-01-25 22:56:53
7,450008,1485385773,895.44,895.86,893.23,894.97,0.000593,7.109646,2017-01-25 23:09:33
8,450009,1485385825,895.44,895.86,893.23,894.97,0.000593,6.867119,2017-01-25 23:10:25
9,450010,1485387127,894.97,898.00,894.97,898.00,0.000593,7.250669,2017-01-25 23:32:07
10,450011,1485387787,894.97,898.00,894.97,898.00,0.000593,7.137470,2017-01-25 23:43:07
11,450012,1485388968,894.97,898.00,894.97,898.00,0.000593,7.227787,2017-01-26 00:02:48
12,450013,1485389750,894.97,898.00,894.97,898.00,0.000593,7.138547,2017-01-26 00:15:50
13,450014,1485391823,898.00,901.99,898.00,901.99,0.000593,7.326116,2017-01-26 00:50:23
14,450015,1485391917,898.00,901.99,898.00,901.99,0.000593,7.197108,2017-01-26 00:51:57
15,450016,1485393434,898.00,901.99,898.00,901.99,0.000593,7.220113,2017-01-26 01:17:14
16,450017,1485394092,898.00,901.99,898.00,901.99,0.000593,7.218311,2017-01-26 01:28:12
17,450018,1485394169,898.00,901.99,898.00,901.99,0.000593,7.086211,2017-01-26 01:29:29
18,450019,1485394929,901.99,901.99,900.59,900.76,0.000593,7.232013,2017-01-26 01:42:09
19,450020,1485395150,901.99,901.99,900.59,900.76,0.000593,7.066896,2017-01-26 01:45:50
20,450021,1485395796,901.99,901.99,900.59,900.76,0.000593,7.183565,2017-01-26 01:56:36
21,450022,1485395876,901.99,901.99,900.59,900.76,0.000593,6.946682,2017-01-26 01:57:56
22,450023,1485396427,901.99,901.99,900.59,900.76,0.000593,7.113118,2017-01-26 02:07:07
23,450024,1485397254,901.99,901.99,900.59,900.76,0.000593,7.197549,2017-01-26 02:20:54
24,450025,1485397311,901.99,901.99,900.59,900.76,0.000593,6.883188,2017-01-26 02:21:51
25,450026,1485398392,900.76,901.73,900.72,901.55,0.000593,7.252225,2017-01-26 02:39:52
26,450027,1485398873,900.76,901.73,900.72,901.55,0.000593,7.091430,2017-01-26 02:47:53
27,450028,1485398975,900.76,901.73,900.72,901.55,0.000593,6.941669,2017-01-26 02:49:35
28,450029,1485399263,900.76,901.73,900.72,901.55,0.000593,6.978997,2017-01-26 02:54:23
29,450030,1485399505,900.76,901.73,900.72,901.55,0.000593,6.902149,2017-01-26 02:58:25

* Simulation starts from the block with height 551443.

In [10]:
df_BTC[df_BTC['height'].isin([551443])]

,height,unixtime,probability of success /Eh,expected return (USD/Eh),time
101442,551443,1543137894,0.000035,1.584459,2018-11-25 09:24:54